<form method="post" action="/students">
  <label for="first_name">First Name:</label>
  <input id="first_name" type="text" name="first_name"/>
  <br/>
  <br/>
  <label for="last_name">Last Name:</label>
  <input id="last_name" type="text" name="last_name"/>
  <br/>
  <br/>
  <label for="house-select">House:</label>
  <select id="house-select" name ="house">
    <option value="Gryffindor">Gryffindor</option>
    <option value="Ravenclaw">Ravenclaw</option>
    <option value="Hufflepuff">Hufflepuff</option>
    <option value="Slytherin">Slytherin</option>
  </select>
  <br/>
  <br/>
  <label for="age">Age:</label>
  <input id="age" type="number" name="age"/>
  <br/>
  <br/>
  <input type="submit" value="Create Student"/>
</form>